---
import { type CollectionEntry, getCollection } from "astro:content";
import { render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import type { Post } from "../../types/post";
import { getSortedBlogPosts } from "../../utils/getPosts";

export async function getStaticPaths() {
	const posts = await getSortedBlogPosts();
	return posts.map((post:Post) => ({
		params: { slug: post.id },
		props: post,
	}));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await render(post);
---

<!--<BlogPost {...post.data}>
	<Content />
</BlogPost>-->
<Layout>
	<section>
		<h1>{post.data.title}</h1>
		<p>{post.data.pubDate}</p>
		<Content />
	</section>
</Layout>
