@import "tailwindcss";

body {
    background: linear-gradient(to bottom, #D4CAED, #F8F6FF);
    color: #333333;
}

body.dark-mode {
    background: linear-gradient(to bottom, #2D1B36, #0F0F0F);
    color: #ffffffdd;
}

.about-card {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

body.dark-mode .about-card {
    background: rgba(255, 255, 255, 0.05);
}